<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.alexost.fileinfoapp.FileProcessorTool</string>
	<key>MachServices</key>
	<dict>
		<key>com.alexost.fileinfoapp.FileProcessorTool</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>WaitForDebugger</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ExitTimeOut</key>
	<integer>60</integer>
</dict>
</plist>
